div ul.autocomplete {
  border: solid 1px #d8d8d8;
  padding: 0;
  min-height: 0;
  width: 100%;
  box-sizing: border-box;
}

div ul.autocomplete li {
  border-top: solid 1px #d8d8d8;
  text-transform: uppercase;
}

div ul.autocomplete li p.title, div ul.autocomplete li p { 
  font-size: 0.8rem;
  font-weight: normal; 
  margin-left: 30px;
  padding: 5px;
}
  
div ul.autocomplete span {
  text-decoration: none;
  font-weight: normal;
}

div ul.autocomplete li.active:not(.noResults) {
  color: white;
  background-color: #293373;
  background-image: url("../images/arrow_right_active.svg");
}

div ul.autocomplete li:not(.noResults) {
  background-image: url("../images/arrow_right.svg");
  background-position: 6% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
}

div ul.autocomplete li.noResults {
  font-size: 0.8rem;
  margin-left: 30px;
}

.prev img, .next img {
  height: 12px;
  margin-bottom: 0;
}

.datepicker.datepicker-dropdown.dropdown-menu{
  width: 210px;
}

.datepicker.datepicker-dropdown.dropdown-menu {
  height: 230px;
  border-radius: 0;
  border-color: #d8d8d8;
  box-shadow: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.datepicker.datepicker-dropdown.dropdown-menu .table-condensed {
  position: absolute;
  top: 0;
  left: 2;
}

.datepicker.datepicker-dropdown.dropdown-menu thead tr:first-child th, .datepicker.datepicker-dropdown.dropdown-menu .datepicker tfoot tr:first-child th, .datepicker.datepicker-dropdown.dropdown-menu td:not(.disabled), th {
  color: #293373;
}

.datepicker.datepicker-dropdown.dropdown-menu td.disabled, .datepicker.datepicker-dropdown.dropdown-menu td.new, .datepicker.datepicker-dropdown.dropdown-menu td span.disabled, .datepicker.datepicker-dropdown.dropdown-menu td span.new {
  color: #d8d8d8;
}    

.datepicker.datepicker-dropdown.dropdown-menu .datepicker-hours table tr td span {
  height: 26px;
  line-height: 25px;
}

.datepicker.datepicker-dropdown.dropdown-menu td:not(.disabled).active, .datepicker.datepicker-dropdown.dropdown-menu td:not(.disabled) span.active {
  background-color: #293373;
  color: white;
}
