.koleo-widget-container {
  box-sizing: border-box;
  background: #E50000;
  padding: 20px 0;
  width: 100%;
  color: #293373;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  text-align: left;
}

.koleo-widget-container img {
  margin-left: 10px;
  vertical-align: baseline;
}

.koleo-widget-container a {
  color: white;
  margin: 0 20px 20px;
  display: block;
  text-decoration: none;
}

.koleo-widget-container form {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px;
}

.koleo-widget-container.koleo-wide-widget form {
  flex-flow: row nowrap;
}

.koleo-widget-container div.flex-item {
  flex: 1 1 auto;
  display: block;
  width: 100%;
  margin: 5px 10px 0;
}

.koleo-widget-container .flex-item input {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.koleo-widget-container .flex-item input[type="text"] {
  height: 46px;
  padding-left: 40px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #293373;
  margin: 0;
}

.koleo-widget-container .flex-item input[type="text"], .koleo-widget-container .flex-item input[type="text"]:focus, .koleo-widget-container .flex-item input[type="submit"] {
	box-shadow: none;
	background-repeat: no-repeat;
	text-transform: uppercase;
}

.koleo-widget-container .flex-item input[type="submit"] {
  height: 46px;
  background-image: url("../images/looking_glass.svg");
  background-color: #e1266b;
  color: white;
  font-size: 12px;
  border: none;
  width: 100%;
  margin: 0;
}

.koleo-widget-container .flex-item input[type="submit"]:hover {
  cursor: pointer;
}

.koleo-widget-container .start_station {
  background-image: url("../images/from.svg");
}

.koleo-widget-container .end_station {
  background-image: url("../images/to.svg");
}

.koleo-widget-container .date {
  background-image: url("../images/date.svg");
}

.koleo-widget-container .start_station, .koleo-widget-container .end_station, .koleo-widget-container .date, .koleo-widget-container .submit {
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 15px;
}

.koleo-widget-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #293373;
}
.koleo-widget-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #293373;
  opacity:  1;
}
.koleo-widget-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #293373;
  opacity:  1;
}
.koleo-widget-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #293373;
}
