.koleo-widget-container {
	background: #293373;
  padding: 20px;
  width: 260px;
  color: #293373;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.koleo-widget-container img {
  margin-bottom: 20px;
}

.koleo-widget-container input {
  display: block;
  width: 260px;
  margin-top: 5px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.koleo-widget-container input[type="text"] {
  height: 46px;
  padding-left: 40px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #293373;
}

.koleo-widget-container input[type="text"], .koleo-widget-container input[type="text"]:focus, .koleo-widget-container input[type="submit"] {
	box-shadow: none;
	background-repeat: no-repeat;
	text-transform: uppercase;
}

.koleo-widget-container input[type="submit"] {
  height: 46px;
  background-image: url("../images/looking_glass.svg");
  background-color: #5ec6c5;
  color: white;
  letter-spacing: 1.25px;
  font-size: 12px;
  border: none;
}

.koleo-widget-container input[type="submit"]:hover {
  cursor: pointer;
}

.koleo-widget-container #start_station {
  background-image: url("../images/from.svg");
}

.koleo-widget-container #end_station {
  background-image: url("../images/to.svg");
}

.koleo-widget-container #date {
  background-image: url("../images/date.svg");
}

.koleo-widget-container #start_station, .koleo-widget-container #end_station, .koleo-widget-container #date, .koleo-widget-container #submit {
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 15px;
}

.koleo-widget-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #293373;
}
.koleo-widget-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #293373;
  opacity:  1;
}
.koleo-widget-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #293373;
  opacity:  1;
}
.koleo-widget-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #293373;
}
